.benefit {
    padding: 4rem;
    background: #fff;
  }
  
  .benefit__container {
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .benefit__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .benefit__items {
    margin-bottom: 24px;
  }
  
  .benefit__item {
      
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }

  .benefit__item__info {
    padding: 20px 30px 30px;
  }
  
  .item__title {
    color: #212d50;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  
  .item__subtext {
    font-weight: 600;
    color: #252e48ab;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 820px) {
    .btn {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }
  