.form__container {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .form__title{
    padding-top: 5vh;
  }

  .form__list{
    display: flex;
    flex-direction: column;
  }