.partners-container {
    height: 12vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    object-fit: contain;
    align-items: center;
    justify-content: center;
  }

  .partners-title{
      margin-bottom: 20px;
      text-align: center;
  }

  .partners-pic{
    border: 1px solid rgba(0, 0, 0, 0.26);
    width: 180px;
    height: 70px;
    padding: 10px;
    margin: 20px;
  }